#year {
	width:4em;
}
#mitglied {
	float: left;
	padding: 1em;
}
#result_m {
	float: left;
	padding: 1em;
}
#result_d {
	float: left;
	padding: 1em;
}
#eingaben {
	margin: auto;
	width: 35em;
}

input[type="number"] {
   width:4em;
}
.submit {
	clear: both; /* kein float mehr ab hier */
    text-align: right;

}
.links {
	margin: auto;
	width: 27em;
	clear: both; /* kein float mehr ab hier */
	padding-top: 3em;
}

h3 {
	text-align: center;
}
.titleradio {
	font-weight: bold;
	background-color: yellow;
}
ul {
	margin: 0em;
	list-style: none;
 	padding-left: 0em;
}